<div id="<%= dom_id training_resource %>">
  <p>
    <strong>Author:</strong>
    <%= training_resource.Author %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= training_resource.Title %>
  </p>

  <p>
    <strong>Short description:</strong>
    <%= training_resource.Short_description %>
  </p>

  <p>
    <strong>Long description:</strong>
    <%= training_resource.Long_description %>
  </p>

</div>
